/tensquare_parent/.idea
/tensquare_parent/tensquare_parent.iml
/tensquare_parent/tensquare_recruit/*.iml
*.iml
target
/tensquare_parent/tensquare_recruit/target
/.metadata/
/.recommenders/
/pinyougou-parent/pinyougou-sellergoods-interface/.project
/pinyougou-parent/pinyougou-sellergoods-interface/.settings
/pinyougou-parent/pinyougou-sellergoods-interface/.classpath
*.project
*
*.classpath
/pinyougou-parent/pinyougou-manager-web/*.classpath
/pinyougou-parent/pinyougou-manager-web/*.project
/pinyougou-parent/pinyougou-manager-web/*
